<library path="src">
  <class name="Dashboard" type="borealis_dashboard.dashboard.Dashboard" base_class_type="rqt_gui_py::Plugin">
    <description>
      Boreolis Project Experiment Diagnostic Dashboard
    </description>
    <qtgui>
      <group>
        <label>Miscellaneous Tools</label>
        <icon type="theme">folder</icon>
        <statustip>Plugins related to Introspection.</statustip>
      </group>
      <label>Boreolis Dashboard</label>
      <icon type="theme">applications-other</icon>
      <statustip>Boreolis Project Experiment Diagnostic Dashboard</statustip>
    </qtgui>
  </class>
</library>
